.footer {
  line-height: 0;
}

.footer-container {
  background-color: #0066cb;
  padding: 0;
}

.footer-content {
  max-width: 1400px;
  margin: auto;
}

.footer .info {
  color: #fff;
  padding: 0 30px 30px 30px;
  line-height: 25px;
}

.footer .partners {
  background-color: green;
}

.footer .logo {
  margin-bottom: 10px;
}

.footer .socials-media img {
  margin: 20px 10px 10px 0;
}
