/*
======================
VARIABLES
======================
*/

:root {
  --clr-btn: lightgray;
  --dark-blue-btn: #0066cb;
  --dark-btn: black;
  --clr-text-color: #efefef;
  --box-shadow: 10px 5px 5px #0066cb;
  --border: 2px solid black;
}



body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.page-title-container {
  display: flex;
  margin: 1%;
  margin-left: 7%;
  padding: 1%;
  width: 80%;
}

.page-title {
  font-size: 2rem;
  padding: 1%;
}

.toggle-admin-form-button-on {
  background: var(--dark-blue-btn);
  color: var(--clr-text-color);
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.toggle-admin-form-button-off {
  background: var(--clr-text-color);
  color: var(--dark-btn);
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.main-btn {
  background: var(--dark-blue-btn);
  color: var(--clr-text-color);
  padding: 12px 20px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 15px;
}

.main-btn:hover {
  background: var(--dark-btn);
  color: var(--clr-text-color);
}
